streamlit
langchain
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-voyageai
torchvision

chromadb
faiss-cpu
sentence-transformers

tavily-python
google-generativeai

beautifulsoup4

pypdf
PyPDF2
pdf2image

python-dotenv
